<form >
    <div class="row">
    <div class="col">
      <label for="username">Username</label>
      <input class="form-control"
        type="text"
        [(ngModel)]="newUser.username"
        name="username"
        id="username"
      />
    </div>
    <div class="col">
      <label for="password">Password</label>
      <input
      class="form-control"
        type="password"
        [(ngModel)]="newUser.password"
        name="password"
        id="password"
      />
    </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="text" [(ngModel)]="newUser.email" name="email"  />
    </div>
    <button class="btn btn-success" (click)="register(newUser)">Register Account</button>
  </form>
