
<video autoplay muted loop playsinline id="bg-video">
  <source src="images/background/vd.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<div class="d-flex justify-content-center align-items-center vh-90 bg-light bg-transparent">
  <form
    (ngSubmit)="register(newUser)"
    class="glass-panel w-100"
    style="max-width: 600px;"
  >
    <div class="mb-4 text-center">
      <h2 class="fw-bold text-success">Create Your Account</h2>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="username" class="form-label">Username</label>
        <input
          class="form-control form-control-lg"
          type="text"
          [(ngModel)]="newUser.username"
          name="username"
          id="username"
          placeholder="Username"
          required
        />
      </div>
      <div class="col">
        <label for="password" class="form-label">Password</label>
        <input
          class="form-control form-control-lg"
          type="password"
          [(ngModel)]="newUser.password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
      </div>
    </div>

    <div class="mb-4">
      <label for="email" class="form-label">Email</label>
      <input
        class="form-control form-control-lg"
        type="email"
        [(ngModel)]="newUser.email"
        name="email"
        id="email"
        placeholder="you@example.com"
        required
      />
    </div>

    <div class="text-center">
      <button type="submit" class="btn-glow w-100">Register Account</button>
    </div>
  </form>
</div>

