
<video autoplay muted loop playsinline id="bg-video">
  <source src="images/background/vd.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<div class="d-flex justify-content-center align-items-center vh-900 bg-light  bg-transparent">
  <form
    (ngSubmit)="login(loginUser)"
    class="glass-panel w-100"
    style="max-width: 400px;"
  >
    <div class="mb-4 text-center trans">
      <h2 class="fw-bold text-success">Login</h2>
    </div>

    <div class="mb-3">
      <label for="username" class="form-label text-success">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control form-control-lg"
        placeholder="Enter your username"
        [(ngModel)]="loginUser.username"
        required
      />
    </div>

    <div class="mb-4">
      <label for="password" class="form-label text-success">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control form-control-lg"
        placeholder="Enter your password"
        [(ngModel)]="loginUser.password"
        required
      />
    </div>

    <div class="text-center">
      <button type="submit" class="btn-glow w-100">Login</button>
    </div>
  </form>
</div>
