@if (!editLog){
<div class="hero-info">
  <form class="spacing">
    <label class="form-label">Care Type:</label>
    <select
      class="form-select"
      name="careTypeId"
      [(ngModel)]="newCareLog.careType.id"
    >
      <option class="max-width: 200px" value="">Select type of care...</option>
      @for(type of careTypes; track type.id) {
      <option [value]="type.id">{{type.name}}</option>
      }
    </select>
    <label for="notes">Notes: </label>
    <textarea name="notes" id="notes"  class="form-control" [(ngModel)]="newCareLog.notes"></textarea>
    <label class="form-label" for="careDate">Care Date:</label>
    <input  class="form-control" type="datetime-local" id="careDate" name="careDate" [(ngModel)]="newCareLog.careDate">
    <button class="ms-3 btn-glow" (click)="create()">Create</button>
    <a class="btn btn-glow delete btn-med ms-3 me-2"
        [routerLink]="['/profile']" role="button"
      >
        Cancel
      </a>

  </form>
</div>
} @else {
<div class="hero-info">
  <form class="spacing">
    <label class="form-label">Care Type:</label>
    <select
      class="form-select"
      name="careTypeId"
      [(ngModel)]="editLog.careType.id">
      <option value="">Select type of care...</option>
      @for(type of careTypes; track type.id) {
      <option [value]="type.id">{{type.name}}</option>
      }
    </select>
    <label for="notes">Notes: </label>
    <textarea   class="form-control" name="notes" id="notes" [(ngModel)]="editLog.notes"></textarea>
    <label class="form-label" for="careDate">Care Date:</label>
    <input  class="form-control" type="datetime-local" id="careDate" name="careDate" [(ngModel)]="editLog.careDate">
    <button (click)="updateCareLog()">Save Changes</button>
  </form>
</div>
}
