

<video autoplay muted loop playsinline id="bg-video">
  <source src="images/background/vd.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video><div>

  <div class="container py-5 text-light">
  <div class="card glass-panel bg-opacity-75 shadow-lg border-light">
    <div class="row g-0">
      <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
        <img
          [src]="selected.imageUrl"
          alt="Image of {{ selected.genus }} {{ selected.species }}"
          class="img-fluid rounded shadow"
          style="max-height: 300px; object-fit: contain;"
        />
      </div>
      <div class="col-md-8 p-4">
        <h2 class=" hero-title ;">{{ selected.commonNames }}</h2>
        <h4 class="mb-3">Level of difficulty: {{ selected.careDifficulty.name }}</h4>
        <p>{{ selected.careDifficulty.description }}</p>
        <hr />
        <p><strong>Genus:</strong> {{ selected.genus }}</p>
        <p><strong>Species:</strong> {{ selected.species }}</p>
        <p><strong>Description:</strong> {{ selected.description }}</p>
        <p><strong>Light Requirements:</strong> {{ selected.lightRequirements }}</p>
        <p><strong>Water Frequency:</strong> {{ selected.waterFrequency }}</p>
        <p><strong>Native To:</strong> {{ selected.nativeTo }}</p>
        <p><strong>Temperature Range:</strong> {{ selected.temperatureRange }}</p>

      </div>
    </div>
  </div>
</div>
