@if (!editUserPlant) {
<div class="container py-5 text-light">
  <div class="card glass-panel bg-opacity-75 shadow-lg border-light">
    <div class="row g-0">
      <!-- Left: Image -->
      <div
        class="col-md-4 d-flex justify-content-center align-items-center p-3"
      >
        <img
          [src]="selected.imageUrl"
          alt="Image of {{ selected.name }}"
          class="img-fluid rounded shadow"
          style="max-height: 350px; object-fit: contain"
        />
      </div>
    </div>
  </div>
</div>
<div class="col-md-8 p-4 d-flex hero-info flex-column justify-content-between">
  <div>
    <!-- <img
      [src]="selected.imageUrl"
      [alt]="selected.name"
      class="rounded-circle shadow"
      style="width: 120px; height: 120px; object-fit: cover"
    /> -->
    <h2 class="hero-title mb-3">{{ selected.name }}</h2>
    <p><strong>Created:</strong> {{ selected.acquiredDate | date:'medium'}}</p>
    <p><strong>Located:</strong> {{ selected.location}}</p>

    <p><strong>Alive </strong> {{ selected.alive ? '✅' : '❌'}} </p>

    <p><strong>Notes:</strong> {{ selected.notes }}</p>
    <button class="btn-glow" (click)="setEditUserPlant()">Edit</button>
    <button class="btn-glow" (click)="deleteUserPlant(selected.id)">
      Delete
    </button>
  </div>
</div>
}

@if(editUserPlant) {
<div class="col-md-8 p-4 d-flex hero-info flex-column justify-content-between">
  <form action="">
    <div>
      <label for="name">Name</label>
      <input
        [(ngModel)]="editUserPlant.name"
        type="text"
        name="name"
        id="name"
      />
      <label for="acquiredDate">Acquired Date</label>
      <input
        [(ngModel)]="editUserPlant.acquiredDate"
        type="text"
        name="acquiredDate"
        id="acquiredDate"
      />
      <label for="location">Location</label>
      <input
        [(ngModel)]="editUserPlant.location"
        type="text"
        name="location"
        id="location"
      />
      <label for="alive">Alive</label>
      <input
        [(ngModel)]="editUserPlant.alive"
        type="checkbox"
        name="alive"
        id="alive"
      />
      <label for="notes">Notes</label>
      <textarea [(ngModel)]="editUserPlant.notes" name="notes" id="notes">
<textarea></textarea
      >
      <label for="imageUrl">Image</label>
      <input
        [(ngModel)]="editUserPlant.imageUrl"
        type="text"
        name="imageUrl"
        id="imageUrl"
      />
      <button
        class="btn-glow"
        (click)="updateUserPlant(editUserPlant); updateForm=false"
      >
        save
      </button>
    </div>
  </form>
</div>
}
<div class="hero-info">
  <h2>Care Logs</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Care Type</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (careLog of careLogs; track $index) {
      <tr>
        <td>{{careLog.id}}</td>
        <td>{{careLog.careDate}}</td>
        <td>{{careLog.careType.name}}</td>
        <td>{{careLog.notes}}</td>
        <!-- <td><button (click)="FIXME [routerLink]="'/viewCareLogs/' + careLog.id">Edit</button></td> -->
        <!-- <td><button (click)="FIXME">Delete</button></td> -->
      </tr>
    }
    </tbody>
  </table>
  <div>
    <button [routerLink]="['/viewCareLog']">New Care Log</button>
  </div>
</div>
